.DS_Store
2020/bin/*
2020/data/test.txt
2020/aoc20
2020/aoc20.dSYM/*
2021/AoC2021/AoC2021.xcodeproj/xcuserdata/andrew.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

2025/2/node_modules
2025/2/package-lock.json
**/launch.json
**/__pycache__/*

2025/5/target/

**/7/*
!**/7/*.*
**/*.dSYM/
**/.vscode
**/bin

# pixi environments
**/.pixi/*
**/!.pixi/config.toml
